
@font-face {
	font-family: 'iconmoon';
	src:url('../fonts/iconmoon.eot?-xj24jt');
	src:url('../fonts/iconmoon.eot?#iefix-xj24jt') format('embedded-opentype'),
		url('../fonts/iconmoon.woff?-xj24jt') format('woff'),
		url('../fonts/iconmoon.ttf?-xj24jt') format('truetype'),
		url('../fonts/iconmoon.svg?-xj24jt#iconmoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'iconmoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e600";
}
.icon-pencil:before {
	content: "\e601";
}
.icon-droplet:before {
	content: "\e602";
}
.icon-dice:before {
	content: "\e603";
}
.icon-pacman:before {
	content: "\e604";
}
.icon-connection:before {
	content: "\e605";
}
.icon-library:before {
	content: "\e611";
}
.icon-pie:before {
	content: "\e606";
}
.icon-stats:before {
	content: "\e607";
}
.icon-bars:before {
	content: "\e608";
}
.icon-bars2:before {
	content: "\e609";
}
.icon-shield:before {
	content: "\e60a";
}
.icon-google-plus:before {
	content: "\e62b";
}
.icon-facebook:before {
	content: "\e62c";
}
.icon-twitter:before {
	content: "\e62d";
}
.icon-paperplane:before {
	content: "\e60b";
}
.icon-banknote:before {
	content: "\e60c";
}
.icon-data:before {
	content: "\e60d";
}
.icon-clip:before {
	content: "\e60e";
}
.icon-calendar:before {
	content: "\e60f";
}
.icon-pie2:before {
	content: "\e610";
}
